body, html, .app, template, div{
    height: 100%;
    margin: 0;
    background-color: #5C5470;
    
}
.top {
    color: #2A2438;
    border: 4px solid #5C5470;
    background-color: #5C5470;
    padding: 0 7% 5px 7%;
    border-radius: 5px;
}
.top:hover{
    background-color: #4b445c;
    border: 4px solid #4b445c;
    padding: 0 7% 5px 7%;
    border-radius: 5px;
}
.sidebar{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 5px;
    width: auto;
    height: 25px;
    overflow: auto;
    background-color: #352F44;
    margin-right: auto;
    text-align: center;
    position: relative;
}
h1{
    margin:5px;
}
.sidebar div{
    padding: 8px;
    font-size: 24px;
    display: block;
}
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
.item{
    width: 250px;
    height: 250px;
    padding: 1em;
    margin: 10px 10px 10px 10px;
    font-weight: 700;
    text-align: center;
    border: 5px;
    border-radius: 10px;

}
.item_desc{
    width: 300px;
    height: 250px;
    padding: 1em;
    margin: 10px 10px 10px 10px;
    font-weight: 700;
    text-align: center;
    border: 5px;
    border-radius: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.col{
    display: flex;
    flex-direction: column;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 0 10px;
}
.center{
    display: flex;
    justify-content: center;
}
.card_color{
    background-color: #DBD8E3;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { color: black; }


a:active { text-decoration: none; }