body, html, .app, template, div{
    height: 100%;
    margin: 0;
    background-color: #191919;
    color: #faf2d6;
    
}

.top {
    border: 4px solid #3D3D3D;
    background-color: #3D3D3D;
    padding: 0 7% 5px 7%;
    border-radius: 5px;
}

.top:hover{
    background-color: #695e55;
    border: 4px solid #695e55;

}

.sidebar{
    background-color: #242424;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 10px;
    width: auto;
    height: 25px;
    overflow: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.sidebar div{
    padding: 8px;
    font-size: 24px;
    display: block;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.item{
    width: 300px;
    height: 300px;
    padding: 1em;
    margin: 0px 10px 10px 10px;
    font-weight: 700;
    text-align: center;
    border: 5px;
    border-radius: 10px;

}

.high{
    padding: 0 1% 2px 1%;
    background-color: rgba(255, 156, 0, .5);

    border-radius: 5px;


}

.item_desc{
    width: 400px;
    height: 300px;
    padding: 1em;
    margin: 0px 10px 10px 10px;
    font-weight: 700;
    text-align: center;
    border: 5px;
    border-radius: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    
}

.col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;

}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
}

.center_notext{
    display: flex;
    justify-content: center;
}

.card_color{
    background-color: #DBD8E3;
}

a{
    color: #83a598;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { }


a:active { text-decoration: none; }

.main_item{
    width: 600px;
    height: 300px;
    padding: 1em;
    margin: 0px 10px 10px 10px;
    font-weight: 700;
    text-align: center;
    border: 5px;
    border-radius: 10px;
    
}

.title{
    width: 600px;
    height: 100%;
    padding: 1em;
    margin: 0px 10px 10px 10px;
    font-weight: 700;
    border: 5px;
    border-radius: 10px;
}

h2{
    color: #f8c537;
}

.imrow {
    max-width: 2000px;
    width: auto;
    display: flex;
    height: auto;
    max-height: 100%; 
  }
  
.imcol {
    max-width: 100%;
    flex: 33.33%;
    padding: 5px;
    width: auto;
    
}

#test{
    display: flex;
    flex-wrap: nowrap;
}
#test span img{
    width:33vw;
}
